/* Main container styling */
.main-container {
  margin: 0;
  padding: 20px;
  background-color: #111; /* Dark background for contrast */
  border: 5px solid #00468C; /* Solid blue border */
  box-shadow: 0 0 15px 5px #00468C; /* Glow around the border */
  border-radius: 5px; /* Slightly rounded corners */
}

/* Glowing effect intensifies on hover */
.main-container:hover {
  box-shadow: 0 0 30px 10px #00468C; /* Intensified glow on hover */
}

/* Header section styling */
.Header {
  text-align: center;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Intro section */
.intro {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
  margin: 0 20px;
}

/* About section */
.heading1 {
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
}

.about-me {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
  color: #fff;
  margin: 0 20px;
}

/* Skills section */
.skills-section {
  text-align: left;
  margin-top: 30px;
}

.heading2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.2rem;
  color: #fff;
}

.skills-list li {
  margin-bottom: 10px;
}

/* Projects section */
.projects-section {
  text-align: left;
  margin-top: 30px;
}

.project-buttons {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.project-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.project-button:hover {
  background-color: #45a049;
}

.project-details {
  margin-top: 20px;
}

.project-details h3 {
  font-size: 1.8rem;
  color: #fff;
}

.project-details p {
  font-size: 1.2rem;
  color: #fff;
}

/* Project image styling */
.project-image {
  width: 300px;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact section styling */
.contact-section {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.contact-list li {
  margin-bottom: 10px;
}

.contact-list a {
  color: #007bff;
  text-decoration: none;
}

.contact-list a:hover {
  text-decoration: underline;
}
